.parrafo1, .parrafo2, .parrafo3, .parrafo4 {
  font-family: Tw Cen MT;
  font-size: 16px;
  color: #0B4C5F; }

h1 {
  font-family: Tw Cen MT;
  color: #0B4C5F;
  justify-content: space-evenly;
  text-align: center; }

header {
  background-image: linear-gradient(to left, #F8BBD0, #80DEEA);
  width: 100%;
  height: 170px; }

header nav .flexMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-evenly; }

.flexMenu li a {
  text-decoration: none; }

main {
  background-color: #E0F8F7;
  width: 100%; }

h6 {
  font-family: Tw Cen MT Condensed;
  color: #EFFBFB; }

.parrafo1, .parrafo2, .parrafo3, .parrafo4 {
  border-width: 1px;
  border-style: solid;
  border-color: #FF00BF; }

p {
  background: inherit;
  padding-top: 12px;
  letter-spacing: 0.1px;
  line-height: 1; }

footer {
  background-image: linear-gradient(to bottom, #F8BBD0, #80DEEA);
  width: 100%;
  height: 50px; }
