
h1{
	font-family: $fuente-titulos;
	color: $color-principal-titulo;
	justify-content: space-evenly;
	text-align: center;
}

header{
	background-image: linear-gradient(to left, #F8BBD0, #80DEEA);
	width: 100%;
	height: 170px;
}

header nav .flexMenu {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style:none;
	justify-content: space-evenly;
	
}

.flexMenu li a {
  text-decoration: none;
 
}

