main{
	background-color:  #E0F8F7;
	width: 100%;
	
}

h6{
	font-family:Tw Cen MT Condensed;
	color: $color-principal;
	
}

.parrafo1, .parrafo2, .parrafo3, .parrafo4 {
	@extend %fuentePrincipal;
	@include cambiarBorder(0,1px, solid, #FF00BF);
}


p{
	background: inherit;
	padding-top: 12px;
	letter-spacing: 0.1px;
	line-height:1;


}
